
<div class="container">
  <p> You guessed "<%= @guess.guess.downcase %>" in response to <%= @card.question %>.<p>
  <div class='reg_box'>
  <% if @guess.status %>
    <h1>Correct!</h1>
  <% else %>
    <h1>Incorrect!</h1>
    <p>The correct answer was <%= @card.answer %></p>
  <% end %>


  <form action='/' method='get'>
    <input class='button4' type='submit' value='Next Question'>
  </form>
</div>
</div>
