<div class="container">
  <h3> You've chosen the <%= @deck.title %> deck.</h3>
  <div class="reg_box">
  <form action='/deck/<%= @deck.id %>/card/<%= @card.id %>' method='get'>
    <input class='button3' type='submit' value='Play'>
  </form>
</div>

<ul>
  <% @cards.each do |card| %>
    <li> <%= card.question %> </li>
  <% end %>
</ul>
</div>
