<h1>Choose a deck</h1>
<div class="decks_box">
  <p>Welcome <%= "#{@user.name}" %>.</p>
  <p>Please, pick a deck to play:</p>
  <% @decks.each do |deck| %>
  <div class="button"><a class="button_link" href='/deck/<%= deck.id %>'><%= deck.title %></a></div>
  <% end %>
</div>
<!-- BACKLOGGED! <h2>History of games played</h2> -->
