<h1>Question</h1>
<div class="card_box">
  <div id="question">
    <p>Choose an answer for:</p>
    <p><%= @card.question %></p>
  </div>
  <form action='/deck/<%= @deck.id %>/card/<%= @card.id %>/guess' method='post'>
    <input type='text' name='guess' placeholder='Answer'>
    <input class='button1' type='submit' value='Guess'>
  </form>
<div>
