
<div class="container">
  <p>Question: <%= @card.question %></p>
  <div class="reg_box">
  <form action='/deck/<%= @deck.id %>/card/<%= @card.id %>/guess' method='post'>
    <input type='text' name='guess' placeholder='Answer'>
    <input class='button1' type='submit' value='Guess'>
  </form>
  <div>
  <%= session[:user].name %>
<ul>

</ul>
</div>
