<h1>Flashcards!</h1>
<div class="login_box">
  <form action='/login' method='GET'>
    <input class='button3' type='submit' value='SIGN IN'>
  </form>
  <form>
    <input class='button3' type='submit' value='REGISTER'>
  </form>
</div>
