<div class="container">
  <h1>Welcome to Flashcards</h1>
  <div class="reg_box">
    <form action='/login' method='GET'>
      <input class='button3' type='submit' value='SIGN IN'>
    </form>
  </div>

  <form action='/login' method='GET'>
    <input type='submit' value='Sign In'>
  </form>
</div>
