
<h1>Flashcard Login</h1>
<div class="login_box">
  <form action='/user/:id' method='GET'>
    <input type="text" name='email' placeholder='email' autofocus='autofocus'>
    <br><input type="text" name='password' placeholder='password'>
    <br><input class="button1" type="submit" value="LOGIN">
    <br><input class="button2" type="submit" value="Forgot Password?">

  </form>
</div>
