<<<<<<< HEAD
<div class="container">
  <form action='/user/:id' method='GET'>
    <input type='text' name='email' placeholder='Email'>
    <input type='text' name='password' placeholder='Password'>
    <input type='submit' value='Sign In'>
=======
<h1>Flashcard Login</h1>
<div class="login_box">
  <form action='/' method='GET'>
    <input type="text" name='email' placeholder='email' autofocus='autofocus'>
    <br><input type="text" name='password' placeholder='password'>
    <br><input class="button1" type="submit" value="LOGIN">
    <br><input class="button2" type="submit" value="Forgot Password?">
>>>>>>> 523658ff20ac2c060c3b7ada4e583064923fcae4
  </form>
</div>
