<div class="container">
  <form action='/user/:id' method='GET'>
    <input type='text' name='email' placeholder='Email'>
    <input type='text' name='password' placeholder='Password'>
    <input type='submit' value='Sign In'>
  </form>
</div>
